---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvm-*,-cppcoreguidelines-avoid-c-arrays,-hicpp-avoid-c-arrays,-modernize-avoid-c-arrays'
WarningsAsErrors: '0'
HeaderFilterRegex: ''
FormatStyle:     none